@import "bourbon";
/*
---
name: module_name
category:
    - button/standard
    - base
---

## This is a standard button module

* You can write markdown.

```html
<a class="btn">
  This is a Button
</a>
```

.btn {
  color: white;
  background-color: tomato;
  text-align: center;
  width: 200px;
  line-height: 40px;
  display: inline-block;
}

*/
